section {
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
}

button {
    font: inherit;
    cursor: pointer;
    background: #230052;
    border: 1px solid #230052;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 20px;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background-color: #460897;
    border-color: #460897;
}

.container {
    max-width: 90%;
    margin: 1rem 1rem;
}

.form {
    margin: 0.5rem 0;
}

.form div {
    margin: 0.5rem 0;
    font-weight: 600;
}
.inputDiv label {
    width: 80%;
}

.inputDiv label input {
    width: 70%;
    padding: 0.1rem 0.8rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
}
.inputDiv label textarea {
    width: 70%;
    margin-right: -2.5rem;
    padding: 0.1rem 0.8rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
}

.inputTextArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.8rem;
}

.title {
    margin-left: 3.8rem;
}
